<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="name"><%= f.label :post_name, "Post Name" %></div><br>
    <%= f.text_field :post_name %><br>
  </div>
  
  <div class="field">
    <div class="content"><%= f.label :post_content, "Post Content" %></div><br>
    <%= f.text_field :post_content %><br>
  </div>
  
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
